html
	head
		title Bulletin App - #{title}
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans")
	body
		include nav.pug
	div.home
		h1 Bulletinboard App

style
	include stylesheet.css



